$tablet-width:768px;
$desktop-width:992px;
$large-desktop-width:1200px;

@mixin tablet{
    @media (min-width:$tablet-width) and (max-width:$desktop-width){
        @content
    }
}

h1{
    @media(min-width:1200px){
        color:red;
    }
}

@media(min-width:1200px){
    h1{
        color:red;
    }
}

@mixin desktop{
    @media(min-width:$desktop-width) and (max-width: $large-desktop-width - 1px){
        @content
    }
}